<head>
  <div class="jumbotron">
    <h1>Departamentos En Ventas</h1>
  </div>
  
  <header>
   <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-1">Proyecto Edificio-Condominio </h3>
          <h3 class="mb-1">Defensores del morro - Surco</h3>
            <div class="mb-3 text-muted">Precio: $ 305.000 dolares </div>
              <p class="mb-3"> 
                Caracteristicas
                <ul>
                  <li> Condominio Los Defensores te ofrece, áreas sociales como amplio patio interior, sala de usos múltiples, Gimnasio equipado y Juegos para niños</li>
                  <li> Modernos departamentos de 2 dormitorios + cuarto multiusos / 3 dormitorios desde 72m2 hasta 76m2 aprox. </li>
                  <li> Área total 72.14 a 76.27 m2 </li>
                  <li> Condominio ubicado en Surco, en Av. Defensores del Morro, frente a Tottus, cerca de Metro, zona de bancos y más servicios cercanos. </li>
                </ul>
              </p>     
            </div>
        <div class="col-auto d-none d-lg-block">

          <img class="btn btn-outline-secondary" src="/assets/depa15.jpg" width="640" height="400">
        </div>
      </div>
    </div>
  </header>
</head>

<body> 
  <section>
    <div class="col-4">
      <a  class="btn btn-warning my-4">Vistas del Departamento </a>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento1">
          <img class="btn btn-outline-secondary" src="/assets/v8.jpg" width="360" height="230"> 
          </a>
        </div>
      </div>  
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento2">
          <img class="btn btn-outline-secondary" src="/assets/v9.jpg" width="360" height="230">
          </a>
        </div>         
      </div>        
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento4">
          <img class="btn btn-outline-secondary" src="/assets/v10.jpg" width="360" height="230">  
          </a>
        </div>
      </div>
    </div>
  </section>
  <br>  
  <footer>
    <div class="col-4">
      <div class="btn btn-outline-secondary">
        <div class="container">
          <h1> Contactar Inmobiliaria </h1>
        </div>
      </div> 
    </div>  
  </footer>
</body>
<br>