<head>
  <div class="jumbotron">
    <h1>Departamentos En Ventas</h1>
  </div>
  
  <header>
   <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-1">Proyecto Condiminio - Multifamiliar</h3>
          <h3 class="mb-1">Casparq Monterrico</h3>
            <div class="mb-3 text-muted">Precio: $555.000 dolares </div>
              <p class="mb-3"> 
                Caracteristicas
                <ul>
                  <li>Condominio que se encuentra en una zona privilegiada de Surco, con gran accesibilidad y con una vista a un gran parque privado que ofrece una experiencia más tranquila de vivir para disfrutar cada momento. </li>
                  <li> Tiene diversas areas: Área de juegos para niños,Areas verdes, Gimnasio, Parque privado, Piscina, Salas de usos Múltiples, Vigilancia.</li>
                  <li> Área total 67.64 a 134.30 m2 </li>
                  <li> Dormitorios:  2 a 3 </li>
                </ul>
              </p>     
            </div>
        <div class="col-auto d-none d-lg-block">

          <img class="btn btn-outline-secondary" src="/assets/depa17.jpg" width="570" height="400">
        </div>
      </div>
    </div>
  </header>
</head>

<body> 
  <section>
    <div class="col-4">
      <a  class="btn btn-warning my-4"> Vistas del Departamento </a>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento1">
          <img class="btn btn-outline-secondary" src="/assets/v15.jpg" width="360" height="230"> 
          </a>
        </div>
      </div>  
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento2">
          <img class="btn btn-outline-secondary" src="/assets/v14.jpg" width="360" height="230"> 
          </a>
        </div>         
      </div>        
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento3">
          <img class="btn btn-outline-secondary" src="/assets/v16.jpg" width="360" height="230">  
          </a>
        </div>
      </div>
    </div>
  </section>
  <br>  
  <footer>
    <div class="col-4">
      <div class="btn btn-outline-secondary">
        <div class="container">
          <h1> Contactar Inmobiliaria </h1>
        </div>
      </div> 
    </div>  
  </footer>
</body>
<br>