<head>
  <div class="jumbotron">
    <h1>Departamentos En Ventas</h1>
  </div>
  
  <header>
   <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-1">Proyecto Departamento-Gallery Art Home.</h3>
          <h3 class="mb-1">Santa Cruz - Miraflores</h3>
            <div class="mb-3 text-muted">Precio: $500.000 dolares </div>
              <p class="mb-3"> 
                Caracteristicas
                <ul>
                  <li> Este proyecto cuenta con una fachada inspirada en las más modernas galerías de arte, te hará vivir una experiencia única desde su ingreso al lobby. </li>
                  <li> Edificacion de 6 pisos + 1 cochera </li>
                  <li> Área total 71.70 a 236.77 m2 </li>
                  <li> Dormitorios:  1 a 4 </li>
                </ul>
              </p>     
            </div>
        <div class="col-auto d-none d-lg-block">

          <img class="btn btn-outline-secondary" src="/assets/depa18.jpg" width="600" height="400">
        </div>
      </div>
    </div>
  </header>
</head>

<body> 
  <section>
    <div class="col-4">
      <a  class="btn btn-warning my-4"> Vistas del Departamento </a>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento2">
          <img class="btn btn-outline-secondary" src="/assets/v17.jpg" width="360" height="230"> 
          </a>
        </div>
      </div>  
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento3">
          <img class="btn btn-outline-secondary" src="/assets/v18.jpg" width="360" height="230">
          </a>
        </div>         
      </div>        
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento4">
          <img class="btn btn-outline-secondary" src="/assets/v19.jpg" width="360" height="230">  
          </a>
        </div>
      </div>
    </div>
  </section> 
  <br> 
  <footer>
    <div class="col-4">
      <div class="btn btn-outline-secondary">
        <div class="container">
          <h1> Contactar Inmobiliaria </h1>
        </div>
      </div> 
    </div>  
  </footer>
</body>
<br>