
<head>
  <div class="jumbotron">
    <h1>Departamentos En Ventas</h1>
  </div>
  
  <header>
   <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-1">Proyecto Edificio Simple Familiar - Ambar</h3>
          <h3 class="mb-1">San Miguel</h3>
            <div class="mb-3 text-muted">Precio: $200.000 dolares </div>
              <p class="mb-3"> 
                Caracteristicas
                <ul>
                  <li> Ámbar es un proyecto con departamentos entre 46 y 97 m2
                   de área techada y areas verdes.  </li>
                  <li> Cuenta con modernas zonas comunes en el último piso: - Zona de relax - Sala de usos múltiples - Amplia zona de parrillo </li>
                  <li> Area Total: 50.00 a 144.00 m2</li>
                  <li> 2 sótanos de estacionamientos y depósitos, así como una sala de lavandería común </li>
                </ul>
              </p>     
            </div>
        <div class="col-auto d-none d-lg-block">

          <img class="btn btn-outline-secondary" src="/assets/depa14.jpg" width="680" height="400">
        </div>
      </div>
    </div>
  </header>
</head>

<body> 
  <section>
    <div class="col-4">
      <a  class="btn btn-warning my-4"> Vistas del Departamento </a>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento1">
          <img class="btn btn-outline-secondary" src="/assets/v4.jpg" width="360" height="230"> 
          </a>
        </div>
      </div>  
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento3">
          <img class="btn btn-outline-secondary" src="/assets/v5.jpg" width="360" height="230">
          </a>
        </div>         
      </div>        
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento4">
          <img class="btn btn-outline-secondary" src="/assets/v6.jpg" width="360" height="230">  
          </a>
        </div>
      </div>
    </div>
  </section>
  <br>
    
  <footer>
    <div class="col-4">
      <div class="btn btn-outline-secondary">
        <div class="container">
          <h1> Contactar Inmobiliaria </h1>
        </div>
      </div> 
    </div>  
  </footer>
  <br>
</body>