<head>
  <div class="jumbotron">
    <h1>Departamentos En Ventas</h1>
  </div>
  
  <header>
   <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-1">Proyecto Edificio Simple-Familiar.</h3>
          <h3 class="mb-1">Rocazul San-Isidro</h3>
            <div class="mb-3 text-muted">Precio: $ 290.000 dolares </div>
              <p class="mb-3"> 
                Caracteristicas
                <ul>
                  <li> Un departamento con todos los detalles que siempre buscaste. Areas comunes equipadas con todo lo necesario para que puedas disfrutar lo que mas te gusta sin salir de casa </li>
                  <li> Departamentos de 90, 120 y 150m2. </li>
                  <li> Área total 120.00 a 297.00 m2 </li>
                  <li> La edificacion cuenta Piscina temperada, salón de reuniones y gimnasio.</li>
                </ul>
              </p>     
            </div>
        <div class="col-auto d-none d-lg-block">

          <img class="btn btn-outline-secondary" src="/assets/depa16.jpg" width="600" height="400">
        </div>
      </div>
    </div>
  </header>
</head>

<body> 
  <section>
    <div class="col-4">
      <a  class="btn btn-warning my-4"> Vistas del Departamento </a>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento1">
          <img class="btn btn-outline-secondary" src="/assets/v11.jpg" width="360" height="230"> 
          </a>
        </div>
      </div>  
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento2">
          <img class="btn btn-outline-secondary" src="/assets/v12.jpg" width="360" height="230">
          </a>
        </div>         
      </div>        
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento3">
          <img class="btn btn-outline-secondary" src="/assets/v13.jpg" width="360" height="230">  
          </a>
        </div>
      </div>
    </div>
  </section> 
  <br> 
  <footer>
    <div class="col-4">
      <div class="btn btn-outline-secondary">
        <div class="container">
          <h1> Contactar Inmobiliaria </h1>
        </div>
      </div> 
    </div>  
  </footer>
</body>

<br>