
<head>
  <div class="jumbotron">
    <h1>Departamentos En Ventas</h1>
  </div>
  
  <header>
   <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-1">Proyecto Edificio Condominio Multifamiliar Paseo</h3>
          <h3 class="mb-1">San-Martin</h3>
            <div class="mb-3 text-muted">Precio: $ 1200.000 dolares </div>
              <p class="mb-3"> 
                Caracteristicas
                <ul>
                  <li> Condominio cerrado de solo 5 torres con 
                       2 ingresos controlados las 24 horas.</li>
                  <li> Torre 4: Pre-venta Áreas sociales exclusivas por edificio + Club House + 1,800 m2 de áreas verdes + Juegos infantiles. </li>
                  <li> Tamaños de 60 a 100 m2 </li>
                  <li> La edificacion cuenta con area de 520 m2 </li>
                </ul>
              </p>     
            </div>
        <div class="col-auto d-none d-lg-block">

          <img class="btn btn-outline-secondary" src="/assets/depa13.jpg" width="650" height="400">
        </div>
      </div>
    </div>
  </header>
</head>

<body> 
  <section>
    <div class="col-4">
      <a  class="btn btn-warning my-4"> Vistas de otros departamentos</a>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento2">
            <img class="btn btn-outline-secondary" src="/assets/v1.jpg" width="360" height="230"> 
          </a>
        </div>
      </div>  
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento3">
          <img class="btn btn-outline-secondary" src="/assets/v2.jpg" width="360" height="230">
          </a>
        </div>         
      </div>        
      <div class="col-4">
        <div class="container">
          <a href="/proyectos/mostrardepartamento4">
          <img class="btn btn-outline-secondary" src="/assets/v3.jpg" width="360" height="230">  
          </a>
        </div>
      </div>
    </div>
  </section> 
  <br>
   
  <footer>
    <div class="col-4">
      <div class="btn btn-outline-secondary">
        <div class="container">
          <h1> Contactar Inmobiliaria </h1>
        </div>
      </div> 
    </div>  
  </footer>
  <br>
</body>